<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="menu :: header-css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/brand.ico}" href="../static/images/brand.ico" type="image/x-icon">

    <style>
        .select-box {
            overflow-y: auto;
        }

        option {
            overflow-y: scroll;
        }
    </style>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container-fluid">
    <br>
    <div style="border-left: 2px solid black;
            height: 1620px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 155px;"></div>
    <div class="row">
        <div class="col-3">
            <div class="col text-center" style="padding-right: 90px;">
                <a th:href="@{/admin/profile}" class="btn btn-primary" role="button" style="width: 200px;">Назад до профілю</a>
            </div>
        </div>
        <div class="col" align="center">
            <h5 th:text="${success}"></h5>
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col" align="center">
            <h5>Змінити опис телефону</h5>
        </div>
        <div class="col" align="center">
            <h5>Змінити зовнішній вигляд телефону</h5>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="row">
        <div class="col">
            <form autocomplete="off" th:action="@{/admin/change/phone-description}" th:object="${changePhoneDescription}"
                  method="post">
                <label><input th:field="*{phoneDescriptionId}" th:value="${phoneDescriptionId}" type="hidden"></label>
                <div class="row">
                    <div class="col" align="center">
                        <div style="height: 90px;">
                            <label class="form-label">Опис телефону для зміни:</label>
                            <div style="height: 30px; width: 300px;">
                                <select class="select-box"  style="height: 30px; width: 300px;"
                                        onchange="location = this.value">
                                    <option th:value="${'/admin/change?success= '}">Виберіть опис телефону</option>
                                    <option th:each="phoneDescriptionOpt : ${phoneDescriptions}" th:text="${phoneDescriptionOpt.brand.name+' '+ phoneDescriptionOpt.series+' '+phoneDescriptionOpt.name}"
                                            th:value="${'/admin/change/phone-description?id='+phoneDescriptionOpt.id}"
                                            th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionOpt.brand.name==phoneDescriptionInput.brand.name and phoneDescriptionOpt.series==phoneDescriptionInput.series and phoneDescriptionOpt.name==phoneDescriptionInput.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" align="center">Назва телефону</div>
                    <div class="col" align="center">Екран телефону</div>
                    <div class="col" align="center">Фізичні характеристики</div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Бренд:</label>
                        <div style="height: 30px; width: 200px;">
                            <select class="select-box" autofocus="true" style="height: 30px; width: 200px;"
                                    th:name="brand">
                                <option th:value="${'Виберіть бренд'}">Виберіть бренд</option>
                                <option th:each="brandOpt : ${brands}" th:text="${brandOpt}"
                                        th:value="${brandOpt}"
                                th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.brand.name==brandOpt}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Тип екрану:</label>
                        <div style="height: 30px; width: 200px;">
                            <select class="select-box" style="height: 30px; width: 200px;" th:name="typeScreen">
                                <option th:value="${'Виберіть тип екрану'}">Виберіть тип екрану
                                </option>
                                <option th:each="typeScreenOpt : ${typeScreens}" th:text="${typeScreenOpt}"
                                        th:value="${typeScreenOpt}"
                                        th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.typeScreen.name==typeScreenOpt}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="weight" class="form-label">Вага (г):</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="weight"
                                   required="true"
                                   th:name="weight" th:value="${phoneDescriptionInput.weight}" th:if="${phoneDescriptionInput.weight!=0}">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="weight"
                                   required="true"
                                   th:name="weight" th:value="${weight}" th:if="${phoneDescriptionInput.weight==0}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="series" class="form-label">Серія:</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="series"
                                   required="true"
                                   th:name="series" th:value="${phoneDescriptionInput.series}">
                        </div>
                    </div>
                    <div class="col">
                        <label for="diagonal" class="form-label">Діагональ:</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="diagonal"
                                   required="true"
                                   th:name="diagonal" th:value="${phoneDescriptionInput.diagonal}" th:if="${phoneDescriptionInput.diagonal!=0}">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="diagonal"
                                   required="true"
                                   th:name="diagonal" th:value="${diagonal}" th:if="${phoneDescriptionInput.diagonal==0}">
                        </div>
                    </div>
                    <div class="col">
                        <label for="height" class="form-label">Висота (мм):</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="height"
                                   required="true"
                                   th:name="height" th:value="${phoneDescriptionInput.height}" th:if="${phoneDescriptionInput.height!=0}">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="height"
                                   required="true"
                                   th:name="height" th:value="${height}" th:if="${phoneDescriptionInput.height==0}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="name" class="form-label">Назва:</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="name"
                                   required="true"
                                   th:name="name" th:value="${phoneDescriptionInput.name}">
                        </div>
                    </div>
                    <div class="col">
                        <label for="displayResolution" class="form-label">Роздільна здатність дисплея:</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="displayResolution"
                                   required="true"
                                   th:name="displayResolution" th:value="${phoneDescriptionInput.displayResolution}">
                        </div>
                    </div>
                    <div class="col">
                        <label for="width" class="form-label">Ширина (мм):</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="width"
                                   required="true"
                                   th:name="width" th:value="${phoneDescriptionInput.width}" th:if="${phoneDescriptionInput.width!=0}">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control" id="width"
                                   required="true"
                                   th:name="width" th:value="${width}" th:if="${phoneDescriptionInput.width==0}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <label for="screenRefreshRate" class="form-label">Частота оновлення (Гц):</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="screenRefreshRate"
                                   required="true"
                                   th:name="screenRefreshRate" th:value="${phoneDescriptionInput.screenRefreshRate}" th:if="${phoneDescriptionInput.screenRefreshRate!=0}">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="screenRefreshRate"
                                   required="true"
                                   th:name="screenRefreshRate" th:value="${screenRefreshRate}" th:if="${phoneDescriptionInput.screenRefreshRate==0}">
                        </div>
                    </div>
                    <div class="col">
                        <label for="degreeOfMoistureProtection" class="form-label">Ступінь вологозахисту
                            (IPxx):</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="degreeOfMoistureProtection"
                                   required="true"
                                   th:name="degreeOfMoistureProtection" th:value="${phoneDescriptionInput.degreeOfMoistureProtection}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" align="center">
                        <div style="width: 260px; height: 35px;">Комунікації</div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="height: 75px;">
                            <label class="form-label">Стандарт зв'язку:</label>
                            <div style="height: 30px; width: 260px;">
                                <select class="select-box" style="height: 30px; width: 260px;"
                                        th:name="communicationStandard">
                                    <option th:value="${'Виберіть стандарт звязку'}">Виберіть стандарт зв'язку
                                    </option>
                                    <option th:each="communicationStandardOpt : ${communicationStandards}"
                                            th:text="${communicationStandardOpt}"
                                            th:value="${communicationStandardOpt}"
                                            th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.communicationStandard.name == communicationStandardOpt}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Тип зарядного пристрою:</label>
                        <div style="height: 30px; width: 200px;">
                            <select class="select-box" style="height: 30px; width: 200px;" th:name="chargeType">
                                <option th:value="${'Виберіть тип зарядного пристрою'}">Виберіть тип
                                </option>
                                <option th:each="chargeTypeOpt : ${chargeTypes}" th:text="${chargeTypeOpt}"
                                        th:value="${chargeTypeOpt}"
                                        th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.chargeType.name==chargeTypeOpt}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Операційна система:</label>
                        <div style="height: 30px; width: 200px;">
                            <select class="select-box" style="height: 30px; width: 200px;"
                                    th:name="operationSystem">
                                <option th:value="${'Виберіть операційну систему'}">Виберіть тип
                                </option>
                                <option th:each="operationSystemOpt : ${operationSystems}"
                                        th:text="${operationSystemOpt}" th:value="${operationSystemOpt}"
                                        th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.operationSystem.name==operationSystemOpt}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="width: 260px;">
                            <label for="numberOfSimCards" class="form-label">Кількість сім-карт:</label>
                            <div style="height: 30px; width: 200px;">
                                <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                       id="numberOfSimCards"
                                       required="true"
                                       th:name="numberOfSimCards" th:value="${phoneDescriptionInput.numberOfSimCards}" th:if="${phoneDescriptionInput.numberOfSimCards!=0}">
                                <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                       id="numberOfSimCards"
                                       required="true"
                                       th:name="numberOfSimCards" th:value="${numberOfSimCards}" th:if="${phoneDescriptionInput.numberOfSimCards==0}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div style="height: 75px;">
                            <label for="nfc" class="form-label">Чи має NFC?</label>
                            <div style="height: 30px; width: 200px;" align="center">
                                <input style="height: 30px; width: 30px;" class="form-check-input" type="checkbox"
                                       id="nfc"
                                       th:name="nfc" th:checked="${phoneDescriptionInput.isHaveNfc}">
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div style="width: 444px;">
                            <label class="form-label">Процесор:</label>
                            <div style="height: 30px; width: 200px;">
                                <select class="select-box" style="height: 30px; width: 300px;" th:name="processor">
                                    <option th:value="${'Виберіть процесор'}">Виберіть процесор
                                    </option>
                                    <option th:each="processorOpt : ${processors}" th:text="${processorOpt}"
                                            th:value="${processorOpt}"
                                            th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.processor.name==processorOpt}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" align="center">
                        <div style="height: 35px;">
                            Фронтальні камери
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" align="center">
                        <label for="numberOfFrontCameras" class="form-label">Кількість фронтальних камер:</label>
                        <div style="height: 30px; width: 40px;">
                            <input style="height: 30px; width: 40px;" type="text" class="form-control"
                                   id="numberOfFrontCameras"
                                   required="true"
                                   th:name="numberOfFrontCameras" th:value="${phoneDescriptionInput.numberOfFrontCameras}" th:if="${phoneDescriptionInput.numberOfFrontCameras!=0}">
                            <input style="height: 30px; width: 40px;" type="text" class="form-control"
                                   id="numberOfFrontCameras"
                                   required="true"
                                   th:name="numberOfFrontCameras" th:value="${numberOfFrontCameras}" th:if="${phoneDescriptionInput.numberOfFrontCameras==0}">
                        </div>
                        <br>
                        <label for="infoAboutFrontCameras" class="form-label">Інформація про фронтальні камери:</label>
                        <div style="height: 213px; width: 700px;">
                    <textarea style="height: 213px; width: 700px;" class="form-control" id="infoAboutFrontCameras"
                              required="true"
                              th:name="infoAboutFrontCameras" th:text="${phoneDescriptionInput.infoAboutFrontCameras}"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="col" align="center">
                            <div style="height: 35px;">
                                Основні камери
                            </div>
                        </div>
                    </div>
                    <div class="col" align="center">
                        <label for="numberOfMainCameras" class="form-label">Кількість основних камер:</label>
                        <div style="height: 30px; width: 40px;">
                            <input style="height: 30px; width: 40px;" type="text" class="form-control"
                                   id="numberOfMainCameras"
                                   required="true"
                                   th:name="numberOfMainCameras" th:value="${phoneDescriptionInput.numberOfMainCameras}" th:if="${phoneDescriptionInput.numberOfMainCameras!=0}">
                            <input style="height: 30px; width: 40px;" type="text" class="form-control"
                                   id="numberOfMainCameras"
                                   required="true"
                                   th:name="numberOfMainCameras" th:value="${numberOfMainCameras}" th:if="${phoneDescriptionInput.numberOfMainCameras==0}">
                        </div>
                        <br>
                        <label for="infoAboutMainCameras" class="form-label">Інформація про основні камери:</label>
                        <div style="height: 213px; width: 700px;">
                    <textarea style="height: 213px; width: 700px;" class="form-control" id="infoAboutMainCameras"
                              required="true"
                              th:name="infoAboutMainCameras" th:text="${phoneDescriptionInput.infoAboutMainCameras}"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div style="height: 5px;"></div>
                <div class="row">
                    <div class="col">
                        <label for="guaranteeTimeMonths" class="form-label">Гарантійний термін в місяцях:</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="guaranteeTimeMonths"
                                   required="true"
                                   th:name="guaranteeTimeMonths" th:value="${phoneDescriptionInput.guaranteeTimeMonths}" th:if="${phoneDescriptionInput.guaranteeTimeMonths!=0}">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="guaranteeTimeMonths"
                                   required="true"
                                   th:name="guaranteeTimeMonths" th:value="${guaranteeTimeMonths}" th:if="${phoneDescriptionInput.guaranteeTimeMonths==0}">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Країна-виробник продукту:</label>
                        <div style="height: 30px; width: 240px;">
                            <select class="select-box" style="height: 30px; width: 240px;" th:name="country">
                                <option th:value="${'Виберіть країну виробника'}">Виберіть країну виробника
                                </option>
                                <option th:each="countryOpt : ${countries}" th:text="${countryOpt}"
                                        th:value="${countryOpt}"
                                        th:selected="${phoneDescriptionInput.id !=null and phoneDescriptionInput.country.name==countryOpt}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="dateAddedToDatabase" class="form-label">Дата додавання до бази даних:</label>
                        <div style="height: 30px; width: 200px;">
                            <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                   id="dateAddedToDatabase"
                                   required="true"
                                   th:name="dateAddedToDatabase" th:value="${dateAddedToDb}">
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col" align="center">
                        <div style="height: 10px;"></div>
                        <div style="height: 40px; width: 280px;">
                            <button class="w-100 btn btn-primary btn-lg"
                                    style="height: 40px; width: 280px; display: flex; align-items: center; justify-content: center;"
                                    type="submit">
                                Змінити опис телефону
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>



        <div class="col">
            <div class="row">
                <div class="col">
                    <form autocomplete="off" th:action="@{/admin/change/view}" th:object="${changeView}"
                          method="post">
                        <label><input th:field="*{viewId}" th:value="${viewId}" type="hidden"></label>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" align="center">
                                <div style="height: 90px; width: 680px;">
                                    <label class="form-label">Зовнішній вигляд для зміни:</label>
                                    <div style="height: 30px; width: 300px;">
                                        <select class="select-box"  style="height: 30px; width: 300px;"
                                                onchange="location = this.value">
                                            <option th:value="${'/admin/change?success= '}">Виберіть колір телефону</option>
                                            <option th:each="viewOpt : ${views}" th:text="${viewOpt.colorForWhichPhone +' '+ viewOpt.color}"
                                                    th:value="${'/admin/change/phone-view?id='+viewOpt.id}"
                                            th:selected="${viewInput.id != null and viewOpt.colorForWhichPhone==viewInput.colorForWhichPhone and viewOpt.color==viewInput.color}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 90px;">
                                    <label for="color" class="form-label">Колір:</label>
                                    <div style="height: 30px; width: 200px;">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control" id="color"
                                               required="true"
                                               th:name="color" th:value="${viewInput.color}">
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 90px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" align="center">
                                <div style="width: 680px;">
                                    Для зображень телефону використовуйте сервер зображень, у формах вводити лише назву .png
                                </div>
                                <div style="height: 10px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 680px; height: 80px;">
                                    <label for="phoneFrontAndBack" class="form-label">Зображення 1:</label>
                                    <div style="height: 30px; width: 500px;">
                                        <input style="height: 30px; width: 500px;" type="text" class="form-control" id="phoneFrontAndBack"
                                               required="true"
                                               th:name="phoneFrontAndBack" th:value="${viewInput.phoneFrontAndBack}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 680px; height: 80px;">
                                    <label for="leftSideAndRightSide" class="form-label">Зображення 2:</label>
                                    <div style="height: 30px; width: 500px;">
                                        <input style="height: 30px; width: 500px;" type="text" class="form-control"
                                               id="leftSideAndRightSide"
                                               required="true"
                                               th:name="leftSideAndRightSide" th:value="${viewInput.leftSideAndRightSide}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 680px; height: 80px;">
                                    <label for="upSideAndDownSide" class="form-label">Зображення 3:</label>
                                    <div style="height: 30px; width: 500px;">
                                        <input style="height: 30px; width: 500px;" type="text" class="form-control" id="upSideAndDownSide"
                                               required="true"
                                               th:name="upSideAndDownSide" th:value="${viewInput.upSideAndDownSide}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" align="center">
                                <div style="height: 10px; width: 680px;"></div>
                                <div style="height: 40px; width: 400px;">
                                    <button class="w-100 btn btn-primary btn-lg"
                                            style="height: 40px; width: 400px; display: flex; align-items: center; justify-content: center;"
                                            type="submit">
                                        Змінити зовнішній вигляд телефону
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div style="border: 1px solid black;"></div>
                    <br>
                    <br><br>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <form autocomplete="off" th:action="@{/admin/change/phone}" th:object="${changePhone}"
                          method="post">
                        <label><input th:field="*{phoneId}" th:value="${phoneId}" type="hidden"></label>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 680px;" align="center">
                                    <h5>Змінити телефон</h5>
                                </div>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" align="center">
                                <div style="width: 680px; height: 90px;">
                                    <label class="form-label">Телефон для зміни:</label>
                                    <div style="height: 30px; width: 480px;">
                                        <select class="select-box"  style="height: 30px; width: 480px;"
                                                onchange="location = this.value">
                                            <option th:value="${'/admin/change?success= '}">Виберіть телефон</option>
                                            <option th:each="phoneOpt : ${phones}" th:text="${phoneOpt.phone.phoneDescription.brand.name+' '+ phoneOpt.phone.phoneDescription.series + ' '+ phoneOpt.phone.phoneDescription.name
        +' '+phoneOpt.phone.amountOfRam+'/'+phoneOpt.phone.amountOfBuiltInMemory+' Gb. Ціна: '+phoneOpt.price+ ' ₴'}"
                                                    th:value="${'/admin/change/phone?id='+phoneOpt.phone.id}"
                                            th:selected="${phoneInput.phone.id !=null and phoneOpt.phone.phoneDescription.brand.name==phoneInput.phone.phoneDescription.brand.name and phoneOpt.phone.phoneDescription.series==phoneInput.phone.phoneDescription.series and phoneOpt.phone.phoneDescription.name==phoneInput.phone.phoneDescription.name
        and phoneOpt.phone.amountOfRam==phoneInput.phone.amountOfRam and phoneOpt.phone.amountOfBuiltInMemory==phoneInput.phone.amountOfBuiltInMemory}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 80px;">
                                    <label for="amountOfBuiltInMemory" class="form-label">Об'єм вбудованої пам'яті (Gb):</label>
                                    <div style="height: 30px; width: 200px;">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                               id="amountOfBuiltInMemory"
                                               required="true"
                                               th:name="amountOfBuiltInMemory" th:value="${phoneInput.phone.amountOfBuiltInMemory}" th:if="${phoneInput.phone.amountOfBuiltInMemory!=0}">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                               id="amountOfBuiltInMemory"
                                               required="true"
                                               th:name="amountOfBuiltInMemory" th:value="${amountOfBuiltInMemory}" th:if="${phoneInput.phone.amountOfBuiltInMemory==0}">
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 80px;">
                                    <label for="amountOfRam" class="form-label">Об'єм оперативної пам'яті (Gb):</label>
                                    <div style="height: 30px; width: 200px;">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control" id="amountOfRam"
                                               required="true"
                                               th:name="amountOfRam" th:value="${phoneInput.phone.amountOfRam}" th:if="${phoneInput.phone.amountOfRam!=0}">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control" id="amountOfRam"
                                               required="true"
                                               th:name="amountOfRam" th:value="${amountOfRam}" th:if="${phoneInput.phone.amountOfRam==0}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 105px;">
                                    <label for="price" class="form-label">Ціна ₴:</label>
                                    <div style="height: 30px; width: 200px;">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control" id="price"
                                               required="true"
                                               th:name="price" th:value="${phoneInput.price}" th:if="${phoneInput.price!=0}">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control" id="price"
                                               required="true"
                                               th:name="price" th:value="${price}" th:if="${phoneInput.price==0}">
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 80px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" align="center">
                                <div style="height: 10px; width: 680px;"></div>
                                <div style="height: 40px; width: 200px;">
                                    <button class="w-100 btn btn-primary btn-lg"
                                            style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;"
                                            type="submit">
                                        Змінити телефон
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</script>
</body>
</html>