<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="menu :: header-css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/brand.ico}" href="../static/images/brand.ico" type="image/x-icon">

</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col">
            <div class="row my-2">
                <div class="col text-center" style="padding-right: 90px;">
                    <a th:href="@{/users/profile}" class="btn btn-primary" role="button" style="width: 200px;">Go back
                        to profile</a>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" align="center">
            <h5 th:text="${'Order number: '+clientCheck.id+'.'}"></h5>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" align="center">
            <h5 th:text="${'Created: '+created+'.'}"></h5>
            <h5 th:text="${'Closed: '+closedDate+'.'}" th:if="${clientCheck.isClosed}"></h5>
            <h5 th:text="${'Total price: '+totalPrice+'$.'}"></h5>
        </div>
        <div class="col-2"></div>
    </div>

    <br>
    <div>
        <div class="row" th:each="phoneInstance: ${clientCheck.phoneInstances}">
            <div class="col"></div>
            <div class="col-7" style="height: 90px; border: 1px solid black;">
                <div class="row align-items-center" style="height: 90px;">
                    <div class="col-1">
                        <img th:src="${phoneInstance.phone.view.phoneFrontAndBack}" class="card-img-top"
                             style="height: 70px; width: 70px;">
                    </div>
                    <div style="width: 20px;"></div>
                    <div class="col" th:text="${phoneInstance.phone.phoneDescription.brand.name+' '+ phoneInstance.phone.phoneDescription.series + ' '+ phoneInstance.phone.phoneDescription.name
        +' '+phoneInstance.phone.amountOfRam+'/'+phoneInstance.phone.amountOfBuiltInMemory+' Gb. Color: '+phoneInstance.phone.view.color}"></div>
                    <div class="col-2" align="center" th:text="${'Price: '+phoneInstance.price+ ' $'}"></div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div style="height: 30px;"></div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col" style="border: 1px solid lightgray;">
            <div class="row">
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="font-size: 17px;">Delivery type</div>
                </div>
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="width: 300px; font-size: 17px;" th:text="${clientCheck.deliveryType}"></div>
                </div>
            </div>
            <div class="row" th:if="${clientCheck.deliveryAddress !=''}">
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="font-size: 17px;">Delivery address</div>
                    <div style="height: 5px;"></div>
                </div>
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="width: 300px; font-size: 17px;" th:text="${clientCheck.deliveryAddress}"></div>
                    <div style="height: 5px;"></div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col" style="border: 1px solid lightgray;">
            <div class="row">
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="font-size: 17px;">Payment type</div>
                    <div style="height: 5px;"></div>
                </div>
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="width: 300px; font-size: 17px;" th:text="${clientCheck.paymentType}"></div>
                    <div style="height: 5px;"></div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col" style="border: 1px solid lightgray;">
            <div class="row">
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="font-size: 17px;">Buyer</div>
                    <div style="height: 5px;"></div>
                </div>
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="width: 300px; font-size: 17px;"
                         th:text="${registeredUser.lastName+' '+registeredUser.firstName}"></div>
                    <div style="height: 5px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div style="width: 300px; font-size: 17px;" th:text="${registeredUser.phoneNumber}"></div>
                    <div style="height: 5px;"></div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col" style="border: 1px solid lightgray;">
            <div class="row">
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="font-size: 17px;">Recipient</div>
                    <div style="height: 5px;"></div>
                </div>
                <div class="col">
                    <div style="height: 5px;"></div>
                    <div style="width: 300px; font-size: 17px;" th:text="${clientCheck.recipient}"></div>
                    <div style="height: 5px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div style="width: 300px; font-size: 17px;" th:text="${clientCheck.recipientNumberPhone}"></div>
                    <div style="height: 5px;"></div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div style="height: 30px;"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</script>
</body>
</html>