<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="menu :: header-css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/brand.ico}" href="../static/images/brand.ico" type="image/x-icon">
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container-fluid">
    <br>
    <div style="border-left: 2px solid black;
            height: 550px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 155px;"></div>
    <div class="row">
        <div class="col-3">
            <div class="col text-center" style="padding-right: 90px;">
                <a th:href="@{/admin/profile}" class="btn btn-primary" role="button" style="width: 200px;">Go back
                    to profile</a>
            </div>
        </div>
        <div class="col" align="center">
            <h5 th:text="${success}"></h5>
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col" align="center">
            <h5>Delete phone description</h5>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div style="width: 680px;" align="center">
                        <h5>Delete phones</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="row">
        <div class="col">
            <form autocomplete="off" th:action="@{/admin/delete/phone-description}" th:object="${deletePhoneDescription}"
                  method="post">
                <div class="row">
                    <div class="col">
                        <div style="height: 10px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" align="center">
                        <div style="width: 304px; height: 90px;">
                            <label class="form-label">Phone description:</label>
                            <div style="height: 30px; width: 300px;">
                                <select class="select-box" style="height: 30px; width: 300px;"
                                        th:field="*{phoneDescription}">
                                    <option selected="selected" th:value="${'Select phone description'}">Select phone
                                        description
                                    </option>
                                    <option th:each="phoneDescriptionOpt : ${phoneDescriptions}"
                                            th:text="${phoneDescriptionOpt.brand.name+' '+ phoneDescriptionOpt.series+' '+phoneDescriptionOpt.name}"
                                            th:value="${phoneDescriptionOpt.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" align="center">
                        <div style="height: 10px;"></div>
                        <div style="height: 40px; width: 280px;">
                            <button class="w-100 btn btn-primary btn-lg"
                                    style="height: 40px; width: 280px; display: flex; align-items: center; justify-content: center;"
                                    type="submit">
                                Delete phone description
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <div style="border: 1px solid black;"></div>
            <div style="height: 30px;"></div>


            <div class="row">
                <div class="col" align="center">
                    <h5>Delete phone view</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form autocomplete="off" th:action="@{/admin/delete/view}" th:object="${deleteView}"
                          method="post">

                        <div style="height: 20px;"></div>
                        <div class="row">
                            <div class="col" align="center">
                                <div style="width: 304px; height: 90px;">
                                    <label class="form-label">View:</label>
                                    <select class="select-box" style="height: 30px; width: 300px;"
                                            th:field="*{view}">
                                        <option selected="selected" th:value="${'Select phone color'}">Select phone
                                            color
                                        </option>
                                        <option th:each="viewOpt : ${views}"
                                                th:text="${viewOpt.colorForWhichPhone +' '+ viewOpt.color}"
                                                th:value="${viewOpt.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" align="center">
                                <div style="height: 10px; width: 680px;"></div>
                                <div style="height: 40px; width: 200px;">
                                    <button class="w-100 btn btn-primary btn-lg"
                                            style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;"
                                            type="submit">
                                        Delete phone view
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <form autocomplete="off" th:action="@{/admin/delete/phone}" th:object="${phone}"
                          method="post">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 90px;">
                                    <label class="form-label">View:</label>
                                    <div style="height: 30px; width: 300px;">
                                        <select class="select-box" style="height: 30px; width: 300px;"
                                                th:field="*{view}">
                                            <option selected="selected" th:value="${'Select phone color'}">Select phone
                                                color
                                            </option>
                                            <option th:each="viewOpt : ${views}"
                                                    th:text="${viewOpt.colorForWhichPhone +' '+ viewOpt.color}"
                                                    th:value="${viewOpt.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 90px;">
                                    <label class="form-label">Phone description:</label>
                                    <div style="height: 30px; width: 300px;">
                                        <select class="select-box" style="height: 30px; width: 300px;"
                                                th:field="*{phoneDescription}">
                                            <option selected="selected" th:value="${'Select phone description'}">Select
                                                phone description
                                            </option>
                                            <option th:each="phoneDescriptionOpt : ${phoneDescriptions}"
                                                    th:text="${phoneDescriptionOpt.brand.name+' '+ phoneDescriptionOpt.series+' '+phoneDescriptionOpt.name}"
                                                    th:value="${phoneDescriptionOpt.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 80px;">
                                    <label for="amountOfBuiltInMemory" class="form-label">Amount of built in memory
                                        (Gb):</label>
                                    <div style="height: 30px; width: 200px;">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                               id="amountOfBuiltInMemory"
                                               required="true"
                                               th:field="*{amountOfBuiltInMemory}" th:value="${amountOfBuiltInMemory}">
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <div style="width: 304px; height: 80px;">
                                    <label for="amountOfRam" class="form-label">Amount of ram (Gb):</label>
                                    <div style="height: 30px; width: 200px;">
                                        <input style="height: 30px; width: 200px;" type="text" class="form-control"
                                               id="amountOfRam"
                                               required="true"
                                               th:field="*{amountOfRam}" th:value="${amountOfRam}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" align="center">
                                <div style="height: 10px; width: 680px;"></div>
                                <div style="height: 40px; width: 200px;">
                                    <button class="w-100 btn btn-primary btn-lg"
                                            style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;"
                                            type="submit">
                                        Delete phones
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</script>
</body>
</html>