<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="menu :: header-css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/brand.ico}" href="../static/images/brand.ico" type="image/x-icon">
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col" align="center">
            <h5>Sales statistics for specific phone models by year/month</h5>
        </div>
    </div>
    <div style="height: 25px;"></div>
    <div class="row">
        <div class="col">
            <div class="row my-2">
                <div class="col text-center" style="padding-right: 90px;">
                    <a th:href="@{/admin/statistics}" class="btn btn-primary" role="button" style="width: 150px;">Go
                        back
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <form autocomplete="off" th:action="@{/admin/statistic-1/show}"
                  th:object="${salesSettingsForSpecificModels}" method="get">

                <div class="row">
                    <div class="col">
                        <div style="height: 10px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="height: 30px; width: 380px;">
                            <select class="select-box" style="height: 30px; width: 380px;"
                                    th:field="*{id}">
                                <option selected="selected" th:value="${'Select phone'}">Select phone</option>
                                <option th:each="phoneOpt : ${phones}" th:text="${phoneOpt.phoneDescription.brand.name+' '+ phoneOpt.phoneDescription.series + ' '+ phoneOpt.phoneDescription.name
        +' '+phoneOpt.amountOfRam+'/'+phoneOpt.amountOfBuiltInMemory+' Gb'}"
                                        th:value="${phoneOpt.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div style="height: 30px; width: 150px;">
                                    <select class="select-box" style="height: 30px; width: 150px;"
                                            th:field="*{year}">
                                        <option selected="selected" th:value="${'Select year'}">Select year</option>
                                        <option th:each="yearOpt : ${years}" th:text="${yearOpt}"
                                                th:value="${yearOpt}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="col" align="center">
                        <div style="height: 40px; width: 200px;">
                            <button class="w-100 btn btn-primary btn-lg"
                                    style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;"
                                    type="submit">
                                Show statistics
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="row">
        <div class="col" align="center">
            <h5 th:text="${errorMsg}"></h5>
        </div>
    </div>
    <div th:if="${!flag}">
        <div class="row">
            <div class="col" align="center">
                <h5 th:text="${'Statistic for '+forWhatPhone.phoneDescription.brand.name+' '+ forWhatPhone.phoneDescription.series + ' '+ forWhatPhone.phoneDescription.name
        +' '+forWhatPhone.amountOfRam+'/'+forWhatPhone.amountOfBuiltInMemory+' Gb for '+forWhatYear+' year'}"></h5>
            </div>
        </div>
        <br>
        <div class="row" th:each="listOpt : ${list}">
            <div class="row">
                <div class="col" align="center">
                    <h5 th:text="${listOpt.phone.phoneDescription.brand.name+' '+ listOpt.phone.phoneDescription.series + ' '+ listOpt.phone.phoneDescription.name
        +' '+listOpt.phone.amountOfRam+'/'+listOpt.phone.amountOfBuiltInMemory+' Gb. Color: '+listOpt.phone.view.color}"></h5>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="row">
                <div class="col" align="center" style="border: 1px solid black;" th:each="field : ${listOpt.fields}">
                    <h6 th:text="${field.month}"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col" style="height: 50px;">
                            <div class="row align-items-center" style="height: 50px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col" style="border: 1px solid black;" align="center"
                                             th:each="field : ${listOpt.fields}">
                                            <h6 th:text="${'Sold: '+field.sold}"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <br>
    <br>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</script>
</body>
</html>