<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="menu :: header-css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/brand.ico}" href="../static/images/brand.ico" type="image/x-icon">
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container-fluid">
    <div style="height: 10px;"></div>
    <div class="row">
        <div class="col-2">
            <div class="row my-2">
                <div class="col-1">
                </div>
                <div class="col" align="left">
                    <a th:href="@{/?page=1}" class="btn btn-primary" role="button" style="width: 150px;">Назад</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-6"><h4 th:text="${fullInfo.phone.phoneDescription.brand.name+' '+ fullInfo.phone.phoneDescription.series + ' '+ fullInfo.phone.phoneDescription.name
        +' '+fullInfo.phone.amountOfRam+'/'+fullInfo.phone.amountOfBuiltInMemory+' Gb. Ціна: '+fullInfo.price+' ₴'}"></h4></div>
        <div class="col" align="center"><h4 th:text="${'Рейтинг: '+rating}"></h4></div>
    </div>
    <div style="height: 15px;"></div>
    <div class="row">
        <div class="col-7">
            <div style="padding-left: 150px;">
                <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel"
                     style="width:456px; height:580px;">
                    <div class="carousel-inner">
                        <div class="carousel-item" th:each="photo, state: ${photos}"
                             th:classappend="${state.index==0} ? active : ''">
                            <img class="d-block w-100" th:src="${photo}"
                                 width="456" height="580" alt="">
                        </div>
                    </div>
                    <a class="carousel-control-prev carousel-dark" style="color: grey" href="#carouselExampleControls"
                       role="button"
                       data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next carousel-dark" style="color: grey" href="#carouselExampleControls"
                       role="button"
                       data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
            <br>

            <form th:action="@{/shopping-cart/add-to-cart}" th:object="${phoneForAddToCart}" th:method="put">
                <div class="col" align="center">
                    <div class="card" style="width: 200px;">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title" align="center">Доступні кольори:</h6>
                            </header>
                            <div class="filter-content" align="center">
                                <div class="card-body">
                                    <label class="form-check"
                                           th:each="phoneColor, state: *{phoneColors}">
                                        <input class="form-check-input" type="checkbox"
                                               th:id="${phoneColor.color}"
                                               th:field="*{phoneColors[__${state.index}__].enabled}"
                                               th:value="${phoneColor.enabled}"/>
                                        <span class="form-check-label"
                                              th:for="${phoneColor.color}"
                                              th:text="${phoneColor.color}"></span>

                                        <input th:field="*{phoneColors[__${state.index}__].color}"
                                               type="text" class="d-none" th:value="${phoneColor.color}"/>
                                    </label>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <input th:field="*{brand}"
                       type="text" class="d-none" th:value="${brand}"/>
                <input th:field="*{name}"
                       type="text" class="d-none" th:value="${name}"/>
                <input th:field="*{series}"
                       type="text" class="d-none" th:value="${series}"/>
                <input th:field="*{amountOfBuiltInMemory}"
                       type="text" class="d-none" th:value="${amountOfBuiltInMemory}"/>
                <input th:field="*{amountOfRam}"
                       type="text" class="d-none" th:value="${amountOfRam}"/>

                <div class="row my-2">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" style="width: 200px;">Додати до кошика</button>
                    </div>
                </div>
            </form>

            <div align="center">
                <h6 th:text="${successAddToCart}"></h6>
            </div>
            <div style="height: 30px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Процесор</h5>
                <h6 th:text="${'Назва: '+fullInfo.phone.phoneDescription.processor.name}"></h6>
                <h6 th:text="${'Кількість ядер: '+fullInfo.phone.phoneDescription.processor.numberOfCores}"></h6>
                <h6 th:text="${'Частота ядра: '+fullInfo.phone.phoneDescription.processor.coreFrequency+ ' ГГц'}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Екран</h5>
                <h6 th:text="${'Тип екрану: '+fullInfo.phone.phoneDescription.typeScreen.name}"></h6>
                <h6 th:text="${'Діагональ: '+fullInfo.phone.phoneDescription.diagonal+'&quot;'}"></h6>
                <h6 th:text="${'Роздільна здатність дисплея: '+fullInfo.phone.phoneDescription.displayResolution}"></h6>
                <h6 th:text="${'Частота оновлення екрану: '+fullInfo.phone.phoneDescription.screenRefreshRate+' Гц'}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Тип зарядного пристрою</h5>
                <h6 th:text="${'Тип зарядного пристрою: '+fullInfo.phone.phoneDescription.chargeType.name}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Стандарт зв'язку</h5>
                <h6 th:text="${'Стандарт зв&prime;язку: '+fullInfo.phone.phoneDescription.communicationStandard.name+' та нижче'}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Кількість SIM-карт</h5>
                <h6 th:text="${'Кількість SIM-карт: '+fullInfo.phone.phoneDescription.numberOfSimCards}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Операційна система</h5>
                <h6 th:text="${'Операційна система: '+fullInfo.phone.phoneDescription.operationSystem.name}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Серія</h5>
                <h6 th:text="${'Серія: '+fullInfo.phone.phoneDescription.series}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Пам'ять</h5>
                <h6 th:text="${'Об&prime;єм вбудованої пам&prime;яті: '+fullInfo.phone.amountOfBuiltInMemory+' Gb'}"></h6>
                <h6 th:text="${'Об&prime;єм оперативної пам&prime;яті: '+fullInfo.phone.amountOfRam+' Gb'}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">NFC</h5>
                <div th:if="${fullInfo.phone.phoneDescription.isHaveNfc}">
                    <h6 th:text="${'Чи має NFC?: так'}"></h6>
                </div>
                <div th:if="${!fullInfo.phone.phoneDescription.isHaveNfc}">
                    <h6 th:text="${'Чи має NFC?: ні'}"></h6>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Фронтальні камери</h5>
                <h6 th:text="${'Кількість фронтальних камер: '+fullInfo.phone.phoneDescription.numberOfFrontCameras}"></h6>
                <h6 th:text="${'Інформація про фронтальні камери: '+fullInfo.phone.phoneDescription.infoAboutFrontCameras}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Основні камери</h5>
                <h6 th:text="${'Кількість основних камер: '+fullInfo.phone.phoneDescription.numberOfMainCameras}"></h6>
                <h6 th:text="${'Інформація про основні камери: '+fullInfo.phone.phoneDescription.infoAboutMainCameras}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Фізичні характеристики</h5>
                <h6 th:text="${'Вага: '+fullInfo.phone.phoneDescription.weight+' г'}"></h6>
                <h6 th:text="${'Висота: '+fullInfo.phone.phoneDescription.height+' мм'}"></h6>
                <h6 th:text="${'Ширина: '+fullInfo.phone.phoneDescription.width+' мм'}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Ступінь вологозахисту</h5>
                <h6 th:text="${'Ступінь вологозахисту: '+fullInfo.phone.phoneDescription.degreeOfMoistureProtection}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Бренд</h5>
                <h6 th:text="${'Бренд: '+fullInfo.phone.phoneDescription.brand.name}"></h6>
                <h6 th:text="${'Країна реєстрації бренду: '+fullInfo.phone.phoneDescription.brand.country.name}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Країна-виробник продукту</h5>
                <h6 th:text="${'Країна-виробник продукту: '+fullInfo.phone.phoneDescription.country.name}"></h6>
            </div>
            <div style="height: 10px;"></div>
            <div style="border: 1px solid lightgray; width: 400px;"></div>
            <div style="height: 10px;"></div>
            <div>
                <h5 style="font-weight: bold;">Гарантія</h5>
                <h6 th:text="${'Термін: '+fullInfo.phone.phoneDescription.guaranteeTimeMonths+' місяців'}"></h6>
            </div>
        </div>
        <div class="col" style="width: 300px;">
            <div class="row" th:if="${!comments.empty}">
                <div class="col">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link">Сторінки:</a></li>
                            <li class="page-item" th:each="page: ${pages}"><a class="page-link"
                                                                              th:href="${pageForWhat}+${page}+${pageForWhatPhone}+${'&successAddToCart= '}"
                                                                              th:text="${page}"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card-body " th:each="comment : ${comments}">
                <div class="" style="height: 30px; width: 570px; border: 1px solid black;">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title" align="left" th:text="${comment.lastName+' '+comment.firstName}"></h6>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h6 class="card-title" align="right" th:text="${comment.created+', Оцінка: '+comment.grade}"></h6>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 570px;" class="">
                    <p class="card-text" style="text-align: justify; border: 1px solid black;"
                       th:text="${comment.text}"></p>
                </div>
            </div>
            <div th:if="${#lists.size(comments)} > 15">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link">Сторінки:</a></li>
                        <li class="page-item" th:each="page: ${pages}"><a class="page-link"
                                                                          th:href="${pageForWhat}+${page}+${pageForWhatPhone}+${'&successAddToCart= '}"
                                                                          th:text="${page}"></a></li>
                    </ul>
                </nav>
            </div>

            <div th:if="${comments.empty}">
                <br>
                <h5>Ніхто не прокоментував цю модель телефону</h5>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</script>
</body>
</html>