<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="menu :: header-css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/brand.ico}" href="../static/images/brand.ico" type="image/x-icon">
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col">
            &nbsp;&nbsp;
            <a th:href="@{/admin/statistics}" class="btn btn-primary" role="button" style="width: 150px;">Назад</a>
        </div>
        <div class="col" align="center">
            <div style="width: 800px;"><h5>Вподобання клієнтів за віком</h5></div>
        </div>
        <div class="col"></div>
    </div>
    <div style="height: 30px;"></div>
    <div align="center">
    <div style="border: 1px solid lightgray; width: 1400px;"></div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row" th:each="customerPreferencesByAge : ${customerPreferencesByAgeList}">
        <div th:if="${!customerPreferencesByAge.phoneInstances.isEmpty}">
            <div class="row">
                <div class="col" align="center">
                    <h5 th:text="${'Віковий період: '+customerPreferencesByAge.endAge+'-'+customerPreferencesByAge.startAge+' років'}"></h5>
                </div>
            </div>
            <div style="height: 15px;"></div>
            <div class="row" th:each="phoneElem : ${customerPreferencesByAge.phoneInstances}">
                <div class="col-2"></div>
                <div class="col" style="height: 90px; border: 1px solid black;">
                    <div class="row align-items-center" style="height: 90px;">
                        <div class="col-1">
                            <img th:src="${phoneElem.phone.view.phoneFrontAndBack}" class="card-img-top"
                                 style="height: 70px; width: 70px;">
                        </div>
                        <div class="col-8" th:text="${phoneElem.phone.phoneDescription.brand.name+' '+ phoneElem.phone.phoneDescription.series + ' '+ phoneElem.phone.phoneDescription.name
        +' '+phoneElem.phone.amountOfRam+'/'+phoneElem.phone.amountOfBuiltInMemory+' Gb. Колір: '+phoneElem.phone.view.color}"></div>
                        <div class="col-3" align="right">
                            <div th:text="${'Ціна: '+phoneElem.price+ ' ₴.'}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div style="height: 20px;"></div>
            <div align="center">
                <div style="border: 1px solid lightgray; width: 1400px;"></div>
            </div>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div style="height: 20px;"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</script>
</body>
</html>